.card {
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
  border: 1px solid rgb(100, 100, 100);
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 130px;

  .card__header {
    color: #ffffff;
    width: 100%;
    background-color: rgb(65, 65, 65);
    text-align: center;
    padding: 3px 0;
  }

  .card__content {
    padding: 4px 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }

  .card__item {
    flex: 1;
  }

  .card__left, .card__right {
    flex-basis: 48%;
  }

  .card__middle {
    flex-grow: 0;
    flex-basis: 4%;
  }
}
